name: Sync to Gitee

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Sync to Gitee
        uses: wearerequired/git-mirror-action@master
        with:
          source-repo: "git@github.com:mymx2/starter-gradle.git"
          destination-repo: "git@gitee.com:mymx2/starter-gradle.git"
        env:
          SSH_PRIVATE_KEY: ${{ secrets.GITEE_SSH_PRIVATE_KEY }}
