#file: noinspection UndefinedParamsPresent,UndefinedAction
name: Publish Snapshot

on:
  workflow_dispatch:
  schedule:
    - cron: "0 2 * * *"

env:
  CI: true

jobs:
  publish-snapshot:
    uses: ./.github/workflows/_publish.yml
    with:
      release: false
      changelog: false
    secrets: inherit
