#file: noinspection UndefinedParamsPresent,UndefinedAction
name: Publish Release

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: write

env:
  CI: true

jobs:
  publish-release:
    if: startsWith(github.event.head_commit.message, 'release:')
    uses: ./.github/workflows/_publish.yml
    with:
      release: true
      changelog: true
    secrets: inherit
